<h1>Name: <%= @resourze.name%></h1>
<p>Address: <%= @resourze.address%></p>
<p>City: <%= @resourze.city%></p>
<p>State: <%= @resourze.state%></p>
<p>Zipcode: <%= @resourze.zipcode%></p>
<p>Phone Number: <%= @resourze.phone_num%></p>
<p>Website: <%= link_to "#{@resourze.site_url}", @resourze.site_url%></p>
<p>NonProfit: <%= @resourze.non_profit%></p>
